WebClientGIBDD/Service References/SpecialTransportDataReceiverService/SpecialTransportDataReceiver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:ws.receiver.specialtransport" targetNamespace="urn:ws.receiver.specialtransport" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DataPackages" type="tns:DataPackagesType">
    <xsd:annotation>
      <xsd:documentation>Пакеты данных на загрузку в регистр "Специальный транспорт".</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DataPackagesInfo" type="tns:DataPackagesInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация по пакетам с данными для регистра "Специальный транспорт".
Информация всегда возвращается в рамках владельца информации, который был указан при запросе.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DataPackagesInfoRequest" type="tns:DataPackagesInfoRequestType">
    <xsd:annotation>
      <xsd:documentation>Перечень идентификаторов пакетов, по которым необходимо получить информацию</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="RuntimeException" type="tns:RuntimeExceptionType">
    <xsd:annotation>
      <xsd:documentation>Информация об ошибке</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="RuntimeExceptionType">
    <xsd:annotation>
      <xsd:documentation>Информация об ошибке</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExceptionCode" type="tns:RuntimeExceptionCodeType">
        <xsd:annotation>
          <xsd:documentation>Код ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExceptionInfo">
        <xsd:annotation>
          <xsd:documentation>
            Поясняющий текст ошибки
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="512" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ExceptionData" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Дополнительная информация по ошибке для
            системного анализа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RuntimeExceptionCodeType">
    <xsd:annotation>
      <xsd:documentation>Код ошибки</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(([A-Z]|[a-z]){1,4}-)?([0-9]){3}" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DataPackagesType">
    <xsd:annotation>
      <xsd:documentation>Пакеты данных на загрузку в регистр "Специальный
        транспорт".</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="DataPackage" type="tns:DataPackageType">
        <xsd:annotation>
          <xsd:documentation>Пакеты на загрузку в регистр "Специальный
            транспорт".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="owner" type="tns:ownerType" use="required">
      <xsd:annotation>
        <xsd:documentation>Код владельца (источника информации), от которого поступила посылка с пакетами</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="size" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Количество пакетов в посылке
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:int">
          <xsd:whiteSpace value="collapse" />
          <xsd:minInclusive value="1" />
          <xsd:maxExclusive value="100" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DataPackageType">
    <xsd:annotation>
      <xsd:documentation>Пакет, содержащий массив записей для внесения в регистр "Специального транспорта".</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PackageId" type="tns:IdType">
        <xsd:annotation>
          <xsd:documentation>Уникальный идентификатор пакета.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PackageCreatedDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Дата и время создания пакета</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Records" type="tns:RecordsType">
        <xsd:annotation>
          <xsd:documentation>Записи в пакете</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecordType">
    <xsd:annotation>
      <xsd:documentation>Запись, подлежащая добавлению или обновлению в регистре
        "Специальный транспорт"</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RecordId" type="tns:IdType">
        <xsd:annotation>
          <xsd:documentation>
    				Уникальный идентификатор записи (например,
    				реестровый номер)
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AgreementDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Дата согласования разрешения в источнике (например: дата выдачи разрешения, дата внесения информации в реестр)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PermitStartDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
    				Дата и время начала действия разрешения
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PermitEndDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
    				Дата и время окончания действия разрешения
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CategoryCode" type="tns:CategoryCodeType">
        <xsd:annotation>
          <xsd:documentation>
    				Код категории специального транспорта (справочное
    				значение) Например: 11 (Грузовой транспорт)
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RestrictionAreaCode" type="tns:RestrictionAreaCodeType">
        <xsd:annotation>
          <xsd:documentation>
    				Код установленной зоны ограничения, на которую
    				распространяется право въезда и передвижения
    				специального транспортного средства (справочное
    				значение). Например: 3 (МКАД)
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CauseInclusion">
        <xsd:annotation>
          <xsd:documentation>
    				Основание включения Например: наименование и
    				реквизиты документа, на основании которого
    				транспортное средство получило соответствующее
    				разрешение
    			</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="256" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Vehicle" type="tns:VehicleType">
        <xsd:annotation>
          <xsd:documentation>
    				Сведения о транспортном средстве
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Organization" type="tns:OrganizationType">
        <xsd:annotation>
          <xsd:documentation>
    				Сведения об организации-владельце транспортного
    				средства
    			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CatalogNumber" type="tns:CatalogNumberType">
        <xsd:annotation>
          <xsd:documentation>
            Номер, соответствующий разрешению в первоисточнике (например, реестровый номер, номер пропуска)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecordsType">
    <xsd:annotation>
      <xsd:documentation>Записи в пакете</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Record" type="tns:RecordType">
        <xsd:annotation>
          <xsd:documentation>Запись, подлежащая добавлению или обновлению в
            регистре "Специальный транспорт"</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="size" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Количество записей в пакете
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:int">
          <xsd:minInclusive value="1" />
          <xsd:whiteSpace value="collapse" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DataPackagesInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация по пакетам с данными для регистра "Специальный транспорт".
Информация всегда возвращается в рамках владельца информации, который был указан при запросе.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="DataPackageInfo" type="tns:DataPackageInfoType">
        <xsd:annotation>
          <xsd:documentation>Информация по пакету с данными для регистра "Специальный транспорт".</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="IdType">
    <xsd:annotation>
      <xsd:documentation>
        Уникальный идентификатор.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:maxLength value="256" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CatalogNumberType">
    <xsd:annotation>
      <xsd:documentation>
        Номер, соответствующий разрешению в первоисточнике (например, реестровый номер, номер пропуска)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:maxLength value="256" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProccessingStageCodeType">
    <xsd:annotation>
      <xsd:documentation>Код текущей стадии обработки пакета:
NOTEXIST - запрошен статус стадии не существующего пакета
CREATED - пакет создан на стороне источника информации
VALIDATED - пакет прошел валидацию
INVALIDATED - пакет не прошел валидацию
QUEUED - пакет поставлен в очередь на обработку
PROCESSING - пакет обрабатывается
LOADED - пакет обработан (все или часть записей загружена в регистр)
FAILED - при обработке пакета возникли ошибки
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:enumeration value="NOTEXIST" />
      <xsd:enumeration value="CREATED" />
      <xsd:enumeration value="VALIDATED" />
      <xsd:enumeration value="INVALIDATED" />
      <xsd:enumeration value="QUEUED" />
      <xsd:enumeration value="PROCESSING" />
      <xsd:enumeration value="LOADED" />
      <xsd:enumeration value="FAILED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="RecordsStatusesType">
    <xsd:annotation>
      <xsd:documentation>
        Статус обработки отдельной записи, которая была вложена в
        пакет.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="RecordStatus" type="tns:recordStatusType">
        <xsd:annotation>
          <xsd:documentation>
            Статус обработки отдельной записи, которая была
            вложена в пакет.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="size" use="required">
      <xsd:annotation>
        <xsd:documentation>Всего записей в пакете</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:int">
          <xsd:minInclusive value="1" />
          <xsd:whiteSpace value="collapse" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="loaded" use="required">
      <xsd:annotation>
        <xsd:documentation>Всего загруженных в регистр записей</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:int">
          <xsd:minInclusive value="0" />
          <xsd:whiteSpace value="collapse" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="recordStatusType">
    <xsd:annotation>
      <xsd:documentation>Статус обработки отдельной записи, которая была вложена в пакет.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RecordId" type="tns:IdType">
        <xsd:annotation>
          <xsd:documentation>Уникальный идентификатор записи</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecordStatusCode" type="tns:RecordStatusCodeType">
        <xsd:annotation>
          <xsd:documentation>
            Код статуса обработки записи
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RecordStatusText" type="tns:RecordStatusTextType">
        <xsd:annotation>
          <xsd:documentation>Дополнительная информация по статусу обработки
            записи</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataPackagesInfoRequestType">
    <xsd:annotation>
      <xsd:documentation>Перечень идентификаторов пакетов, по которым необходимо
          получить информацию</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="PackageId" type="tns:IdType">
        <xsd:annotation>
          <xsd:documentation>Уникальный идентификатор пакета</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="owner" type="tns:ownerType" use="required">
      <xsd:annotation>
        <xsd:documentation>Код владельца, от которого поступила посылка с запросом статусов пакетов</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DataPackageInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация по пакету с данными для регистра "Специальный транспорт".</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PackageId" type="tns:IdType">
        <xsd:annotation>
          <xsd:documentation>
            Уникальный идентификатор пакета, по которому
            приводится статусная информация.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProccessingStageCode" type="tns:ProccessingStageCodeType">
        <xsd:annotation>
          <xsd:documentation>
            Код текущей стадии обработки пакета (например:
            RECEIVED - пакет принят сервисом и прошел валидацию)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessingStageDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
            Дата и время, когда пакет был переведен на указанную
            стадию
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ProcessingStageInfo">
        <xsd:annotation>
          <xsd:documentation>
            Дополнительная информация по текущей стадии
            обработки пакета
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="512" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RecordsStatuses" type="tns:RecordsStatusesType">
        <xsd:annotation>
          <xsd:documentation>
            Статусы обработки записей, которые были вложены в
            пакет. Сведения по записям могут отстутсвовать в
            случае, если их обработка не предполагается на
            текущей стадии обработки пакета или при условии, что
            все они принялись корректно.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RecordStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>Код статуса обработки записи:
INSERTED - добавлена новая запись в регистр
UPDATED - существующая запись в регистре была полностью заменена на пришедшую в пакете
FAILED - ошибка при приеме записи
IGNORED - Присутсвующая в регистре запись имеет более позднюю дату актуализации</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:enumeration value="INSERTED" />
      <xsd:enumeration value="UPDATED" />
      <xsd:enumeration value="FAILED" />
      <xsd:enumeration value="IGNORED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RecordStatusTextType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
      <xsd:maxLength value="512" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>Сведения об организации-владельце транспортного средства</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OrganizationTitle">
        <xsd:annotation>
          <xsd:documentation>
            Наименование организации-владельца транспортного
            средства
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="512" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OrganizationAddress">
        <xsd:annotation>
          <xsd:documentation>
            Почтовый адрес организации-владельца транспортного
            средства
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="512" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OrganizationPhone">
        <xsd:annotation>
          <xsd:documentation>
            Контактный телефон организации-владельца транспортного
            средства
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="512" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VehicleType">
    <xsd:annotation>
      <xsd:documentation>Сведения о транспортном средстве</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="VehicleRegNumber">
        <xsd:annotation>
          <xsd:documentation>
            Государственный регистрационный номер транспортного
            средства Например: X007ТН197
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:pattern value="(А|В|Е|К|М|Н|О|Р|С|Т|Х|У|D|\d)+" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VehicleType">
        <xsd:annotation>
          <xsd:documentation>
            Тип транспортного средства Пример: Автобус,
            Троллейбус, Маршрутное такси
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="256" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VehicleBrand">
        <xsd:annotation>
          <xsd:documentation>
            Марка транспортного средства. Пример: Опель, Opel, BMW
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="256" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VehicleModel">
        <xsd:annotation>
          <xsd:documentation>
            Модель транспортного средства. Пример: Астра, X5
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="256" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ownerType">
    <xsd:annotation>
      <xsd:documentation>
        Код владельца, от которого поступила посылка с пакетами
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
      <xsd:pattern value="[A-Z]([A-Z]|\d|-|_){0,19}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CategoryCodeType">
    <xsd:annotation>
      <xsd:documentation>Код категории специального транспорта (справочное значение).
Например: 11 (Грузовой транспорт)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="RestrictionAreaCodeType">
    <xsd:annotation>
      <xsd:documentation>Код установленной зоны ограничения, на которую распространяется право въезда и передвижения специального транспортного средства (справочное значение).
Например: 3 (МКАД)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
</xsd:schema>